.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    padding-top: 10%;
}

.centered img {
    width: 100%;
    border-radius: 10%;
}

.c1 {
    padding: 10%;
    border-style: solid;
    width: 110%;
}